#header{
    display: flex;
    justify-content: center;
}

#calculator{
    display: flex;
    border: 5px solid $calculator-color;
    border-radius: 10PX;
    background-color: #41B3A3;
    flex-direction: column;
    height: 450px;
    box-shadow: black 5px 5px 9px;
}

#display{
    display: flex;
    border-bottom: 4px solid $calculator-color;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: right;
    font-size: 25px;
    p{
        margin-right: 3%;
        font-size: 25px;
    }
}
#buttonPad {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    
    button{
        width: 19%;
        height: 15%;
        margin: 1%;
        margin-top: 1%;
        border-radius: 10px;
        box-shadow: black 2px 2px 3px;
    }
}

.numberButton {
    background-color: $number-button-color;
    border-radius: 5px;
    border: none;
}

.numberButton:hover {
    background-color: #F082AC;
    cursor:pointer;
}

.operatorButton {
    background-color: $operand-button-color;
    border-radius: 5px;
    border: none;
}

.operatorButton:hover {
    background-color: #fb8332;
    cursor:pointer;
}
